.container {
    background-color: rgb(6, 3, 24);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerKeys {
    display: grid;
    grid-template-columns: 205px 205px 205px 205px;
    grid-template-rows: 155px 155px 155px 155px;
}

.text {
    background-color: rgb(56, 0, 0);
    color: aliceblue;
    font-size: 110px;
    font-family: 'Josefin Sans', sans-serif;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
}

.displayCss {
    width: 800px;
    height: 150px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}